.container-fluid {
    width: 100%;
     padding-right: 0px; 
     padding-left: 0px; 
    

}
.bg-light{
	margin-left: 97px;
    margin-right: 117px;
}

li{
  margin: 0px;
  right;
}

.row{
	margin-left: 20px;
}

.container{
	background-color: white;
	width: 100%;
}
.icontainer{
	background-color: white;
	width: 100%;
}

#floater{
	float: left;
}

#align{
	margin-top: 45px;
	padding-bottom: 1px;
}

.col-md-12{
	padding-top: 20px;
	color: #4aaaa5;		
}
.col-md-9{
	padding-bottom: 20px;
	margin-bottom: 20px:		
}

#port{
	margin-top: 0px;
	margin-bottom: 20px;
	margin-right: 20px;

}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #666666;
    text-align: center;
    border-top: 10px solid #4aaaa5;
}