.container-fluid {
    width: 100%;
     padding-right: 0px; 
     padding-left: 0px; 
     background-color: white;
    }

li{
  margin: 0px;
  right;
}

.navbar-light .navbar-brand {
    color: white;
}


.row{
	margin-left: 20px;
	width: 80%;
}

.container{
	background-color: white;
	width: 70%;
	padding: 0px;
}


#floater{
	float: right;
}

#align{
	margin-top: 45px;
	padding-bottom: 1px;
}

.col-md-12{
	padding-top: 20px;
	color: #4aaaa5;		
}
.col-md-9{
	padding-bottom: 20px;
	margin-bottom: 20px:		
}

#port{
	margin-top: 0px;
	margin-bottom: 20px;
	margin-right: 20px;
  float: left;

}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #666666;
    text-align: center;
    border-top: 10px solid #4aaaa5;
    color: white;
}



.navbar-brand {
    background-color: #4aaaa5;
    margin:0px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

.navbar{
	padding:0px; 
	background-color: white;
}

#navbarNavDropdown{
	background-color: white;
}

.bg-light{
	background-color: white;
	background-color: #ffffff!important;
}

.column{
	padding: 10px;
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 50px; /* .push must be the same height as .footer */
}

#fullLength{
  width: 100%;
}

.btn-primary {
    color: #fff;
    background-color: #4aaaa5;
}